<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.KillSystem.DAO.mapper.ShippingAddressMapper">
	
    <insert id="insert" useGeneratedKeys="true" parameterType="com.KillSystem.domain.ShippingAddress">
   		INSERT INTO shippingaddress VALUES(NULL,#{user_id},#{address},#{tel_num},#{name})
	</insert>
    
    <delete id="delete" parameterType="com.KillSystem.domain.ShippingAddress">  
        DELETE FROM shippingaddress WHERE address_id = #{address_id}  
    </delete>
    
    <select id="selectByuserid" resultType="java.util.HashMap" parameterType="com.KillSystem.domain.User">
        SELECT address_id,user_id,address,tel_num,name FROM shippingaddress
        where user_id = #{tel_num}
        order by address_id desc
    </select>
    
    <select id="selectByaddressid" resultType="com.KillSystem.domain.ShippingAddress" parameterType="java.lang.Integer">
        SELECT address_id,user_id,address,tel_num,name FROM shippingaddress
        where address_id = #{address_id}
    </select>
     
</mapper>