<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  
  <context-param>  
       <param-name>log4jConfigLocation</param-name>  
       <param-value>classpath:log4j.properties</param-value>  
  </context-param>  
  
  <listener>  
       <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>  
  </listener>

  <context-param>
       <param-name>contextConfigLocation</param-name>
       <param-value>classpath:config/druid-db.xml</param-value>
  </context-param>

 
  <listener>
        <description>Spring</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>


  <!-- servlet定义 -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!--可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml-->
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-mvc.xml</param-value>
    </init-param>
    
    
    <!-- 设置启动的优先级，这里表示表示启动容器时初始化该Servlet  -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  
  <!--通过将DispatcherServlet映射到/，声明了它会作为默认的servlet并且会处理所有请求，包括对静态资源的请求-->
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <filter>  
    <filter-name>Spring character encoding filter</filter-name>  
    	<filter-class>  
        	org.springframework.web.filter.CharacterEncodingFilter  
    	</filter-class>  
    <init-param>  
        <param-name>encoding</param-name>  
        <param-value>utf-8</param-value>  
    </init-param>  
  </filter>  
  <filter-mapping>  
    <filter-name>Spring character encoding filter</filter-name>  
    <url-pattern>/*</url-pattern>  
  </filter-mapping>  

  <!--  开启流量监控
  <servlet>
      <servlet-name>DruidStatView</servlet-name>
      <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>DruidStatView</servlet-name>
      <url-pattern>/*</url-pattern>
  </servlet-mapping>
  -->
 
</web-app>