<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.KillSystem.DAO.mapper.OrderMapper">
     
    <insert id="createOrder" >
   		INSERT INTO goods_order VALUES(#{order_id},#{tel_num},#{address},#{goods_id},NOW(),1)
	</insert>
     
    <select id="select" resultType="java.util.HashMap">
        SELECT order_id,tel_num,address,goods_id,create_time,is_success FROM goods_order
        <if test="order_id != null or tel_num != null or address != null or goods_id != 0 or create_time != null or is_success != 0">     
        <where>
        	<if test="order_id != null and order_id != ''">
        	<bind name="pattern" value="'%' + order_id + '%'" />
        		order_id LIKE #{pattern}
        	</if>
        	<if test="tel_num != null and tel_num != ''">
        		AND 
        		<bind name="pattern" value="'%' + tel_num + '%'" />
        		tel_num LIKE #{pattern}
        	</if> 
        	<if test="goods_id != 0">
        		AND goods_id = #{goods_id}
        	</if>
        	<if test="create_time != null and create_time != ''">
        		AND create_time <![CDATA[
					<=
				]]> #{create_time}
        	</if>
        	<if test="is_success != 0">
        		AND is_success = #{is_success}
        	</if>
        </where>
        </if>
        order by create_time desc
    </select>
     
    <update id="update"  parameterType="com.KillSystem.domain.Order">  
        UPDATE goods_order
        <trim prefix="set" suffixOverrides=","> 
        	<if test="tel_num != null and tel_num != ''">
            tel_num = #{tel_num},
            </if>
            <if test="address != null and address !=''">
            address = #{address},
        	</if>
        </trim>  
        WHERE order_id = #{order_id}   
	</update>
     
    <update id="updateOrderState"  parameterType="com.KillSystem.domain.Order">  
        UPDATE goods_order
        set is_success = #{is_success} + 1
        WHERE order_id = #{order_id}     
	</update>
     
    <delete id="delete" parameterType="com.KillSystem.domain.Order">  
        DELETE FROM goods_order WHERE order_id = #{order_id}  
    </delete>
    
    <select id="selectByorderid" parameterType="com.KillSystem.domain.Order" resultType="com.KillSystem.domain.Order">
        SELECT order_id,tel_num,address,goods_id,create_time,is_success FROM goods_order
        WHERE order_id = #{order_id}
    </select>
    
</mapper>